
@{
    ViewBag.Title = "Index";
}

<h2>Bienvenue @ViewBag.Driver</h2>
<form>
    <input type="submit" formaction="~/Conducteur/ListeVoiture" value="Liste des voitures" />
    <input type="submit" formaction="~/Conducteur/ListeTrajet" value="Liste des trajets proposés" />
    <input type="submit" formaction="~/Conducteur/EditDriver" value="EditDriver" />
    <input type="submit" formaction="~/Conducteur/Logout" value="Logout"/>
</form>