@using Covoiturage.Models.POCO;
@{
    ViewBag.Title = "ListeVoiture";
}

<h2>Liste de voiture</h2>

@{
    if (ViewBag.DriversCars != null)
    {
        foreach (Voiture v in ViewBag.DriversCars)
        {
            <a href="~/Conducteur/EditVoiture?Id=@v.Id">@v.Modele @v.Plaque @v.PlacesDisponible</a><br/>
        }
    }
    else
    {
        <p>Vous n'avez pas enregistré de voiture pour le moment</p>
    }
}
<form action="~/Conducteur/AddVoiture" method="get">
    <input type="submit" value="Ajouter voiture" />
</form>
