
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form>
    <input type="submit" formaction="Home/Login" value="Login"/>
    <input type="submit" formaction="Home/Register" value="Register"/>
</form>