@model Covoiturage.Models.POCO.Utilisateur
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(x => x.Login);
    @Html.PasswordFor(x => x.Password);
    <label>Utilisateur</label>
    @Html.RadioButton("type", "user");
    <label>Conducteur</label>
    @Html.RadioButton("type", "driver");
    <input type="submit" name="Login" value="Login" />
}