
@{
    ViewBag.Title = "Index";
}

<h2>Menu principal</h2>
<h2>Bienvenue @ViewBag.User</h2>
<form>
    <input type="submit" formaction="~/Passager/CatalogueTrajet" value="Catalogue" />
    <input type="submit" formaction="~/Passager/CheckReservation" value="Reservations" />
    <input type="submit" formaction="~/Passager/EditUser" value="EditUser" />
    <input type="submit" formaction="~/Passager/Logout" value="Logout" />
</form>
